.titulo{
  color: white;
  background-color: #084f41;

  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 2em;

  font-size: 25px;
}

p{
  text-align: justify;
}
