<hr/>
<div class="container">
   <div class="row">
     <div class="col-lg-8 tex-left">
      <p>
        Rua Lafaiete, 789 - Centro - Ribeirão Preto - SP
        Cep: 14.015-080 <br/>
        Tel.: 0800 885 7600 <br/>
        WhatsApp - (11) 2146-0750 <br/>
        CNPJ: 45.232.246/0001-27
      </p>
     </div>
     <div class="col-lg-4 text-right">
       <a href="https://www.gov.br/ans/pt-br" target="_blank">
         <img src="../../../../assets/Images/ansimg.jpg"  alt="ansimg">
         <img src="../../../../assets/Images/ANS_federacao.jpg"  alt="ANS_federacao">
       </a>
       <a href="https://www.segurosunimed.com.br/" target="_blank">
         <img src="../../../../assets/Images/Seguros-Unimed.png"  alt="Seguros-Unimed">
       </a>
     </div>
   </div>
   <hr>
   <div class="text text-center">
     <p> <strong>
      DPO – Data Protection Officer / Encarregado de Proteção de Dados.
     </strong> </p>
     <p>
      Visando a indicação de um Ponto de Contato para o exercício dos direitos dos Titulares e das competências da ANPD,
      a Unimed Nordeste Paulista apresenta o formulário desta página para contato com o Encarregado pelo Tratamento de Dados Pessoais.
     </p>
     <p>
       <a href="https://ufenesp.com.br/politica-de-privacidade-e-protecao-de-dados" target="_blank">
         Política de Privacidade e Proteção de dados
       </a>
     </p>
   </div>
</div>
