hr:nth-child(1){
 border-top: 1px solid rgb(1, 61, 37);
 background-image: initial;
}


img{
  width: 150px;
  padding: 5px;
}

a > img:nth-child(2){
  width: 90px;
}

a:nth-child(2) > img{
  width: 100px;
}

p > a {
  border: 1px solid green;
  padding: 5px;
  color: green;
  text-decoration: none;
}

@media(max-width: 1198px){
 div > div > div {
    text-align: left !important;
  }
}
